TOKEN=token_discord_bot
CLIENT_ID=client_id_discord_bot
GUILD_ID=
OWNER_ID=
CHANNEL_ID=

LAVALINK_PORT=
LAVALINK_PASSWORD=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

DATABASE_URL=postgresql://username:password@localhost:5432/database_name